#sidebar {
  width: 16rem !important;
}

#sidebar .nav-logo {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 1.25rem !important;
}

#sidebar ul.w-\[calc\(19rem-1px\)\] {
  width: calc(16rem - 1px) !important;
}

#sidebar-content {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}